.wrapper {
  width: 21.60001rem;
  height: 4.4001rem;
  border: 0.5px solid var(--black);
  border-radius: 4.4001rem;
  display: flex;
  position: relative;
  transition: all 0.6s ease-in 1s;
  cursor: pointer;

  &:hover {
    border-color: var(--violet);
    transition: all 0.6s ease-in;

    .button {
      background-color: var(--violet);
      border-color: var(--violet);
      width: inherit;
      transition: all 0.6s ease-in;
    }
  }
}

.button {
  position: absolute;
  top: -0.5px;
  background-color: var(--black);
  color: var(--white);
  width: 13.2001rem;
  height: 4.4001rem;
  font-family: Roboto;
  font-size: 1.4em;
  line-height: 1.142;
  font-weight: 600;
  border-radius: 4.4001rem;
  transition: all 0.6s ease-in 1s;
  z-index: 50;
  cursor: pointer;
  user-select: none;
}

.layout {
  position: absolute;
  top: -0.5px;
  right: 5.2rem;
  transition: all 0.6s ease-in 1s;
  cursor: pointer;
  width: 1.6rem;
  height: 4.4rem;
}
