.button {
  font-family: Roboto;
  font-weight: 600;
  min-height: 44px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  user-select: none;
}

.button__large {
  height: 4.4001rem;
  padding: 1.30001rem 2.8rem;
  font-size: 1.4em;
  font-size: min(14px);
  line-height: 1.142;
  border-radius: 4.4001rem;
}

.button__small {
  height: 3.2001rem;
  padding: 0.9rem 2rem;
  font-size: 1.2em;
  line-height: 1;
  border-radius: 3.2001rem;
}

.button__primary {
  width: fit-content;
  background-color: var(--violet);
  color: var(--white);
  border: none;

  &:hover {
    background-color: var(--black);
  }
}

.button__secondary {
  width: fit-content;
  background-color: transparent;
  color: var(--violet);
  border: 0.5px solid var(--violet);

  &:hover {
    background-color: var(--black);
    color: var(--white);
    border-color: var(--black);
  }
}

.button__accentBlack {
  width: 100%;
  border-radius: 0;
  background-color: var(--black);
  color: var(--white);

  &:hover {
    background-color: var(--violet);
  }
}

.button__accentViolet {
  width: 100%;
  border-radius: 0;
  background-color: var(--violet);
  color: var(--white);

  &:hover {
    background-color: var(--black);
  }
}

@media screen and (max-width: 768px) {
  .button__primary,
  .button__secondary,
  .button__accentBlack,
  .button__accentViolet {
    pointer-events: none;
  }
}
