@font-face {
  font-family: 'Fors';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('Fors.woff2') format('woff2'), url('Fors.woff') format('woff');
}

@font-face {
  font-family: 'Fors';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Fors_Regular.woff2') format('woff2'),
    url('Fors_Regular.woff') format('woff');
}

@font-face {
  font-family: 'Fors';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('Fors_Medium.woff2') format('woff2'),
    url('Fors_Medium.woff') format('woff');
}

@font-face {
  font-family: 'Fors';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Fors_Bold.woff2') format('woff2'),
    url('Fors_Bold.woff') format('woff');
}
