.arize {
  background-image: url('../../assets/images/mainDesktop.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 65.601rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper {
  padding: 11.9001rem 6.0001rem 0;

  .logo {
    width: 6.4001rem;
    height: 6.4001rem;
  }

  .title {
    font-size: 9.20006em;
    line-height: 1;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    user-select: none;
    font-variant: small-caps;
  }

  .subtitle__header {
    margin-top: 5.6rem;
  }

  .subtitle__header,
  .subtitle__footer {
    font-weight: 400;
    color: rgba(3, 1, 25, 1);
    display: block;
    user-select: none;
    font-size: 3.20002em;
    line-height: 1.125;
    font-variant: small-caps;
  }
}

@media screen and (max-width: 768px) {
  .arize {
    background-image: url('../../assets/images/mainMobile.png');
    background-position: center;
    background-size: cover;
    height: 944px;
  }

  .wrapper {
    padding: 32px 0 0;
    margin: 0 auto;

    .logo {
      width: 31px;
      height: 31px;
    }

    .title {
      font-size: 44px;
      line-height: 44px;
    }

    .subtitle__header {
      margin-top: 24px;
    }

    .subtitle__header,
    .subtitle__footer {
      text-align: center;
      font-size: 24px;
      line-height: 28px;
    }
  }
}

@media screen and (max-width: 430px) {
  .arize {
    height: 544px;
  }
}
