:root {
  scroll-behavior: smooth;
  scroll-padding-top: 6.4508rem;
}

.header {
  height: 6.4508rem;
  padding: 0 6rem;
  background-color: var(--white);
  border-bottom: solid 0.5px var(--black);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  height: 100%;
  display: flex;
}

.menu {
  width: 100%;
  display: flex;
  margin: auto 0;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 1.40001em;
  line-height: 1.142;
  font-weight: 400;
  text-transform: uppercase;
  align-items: center;
  user-select: none;

  li:first-child {
    svg {
      margin: auto;
      width: 2.4001rem;
      height: 2.4001rem;
    }
  }

  a:hover {
    font-weight: 700;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 56px;
    padding: 0 24px;
  }
  .menu {
    li,
    a {
      display: flex;
      width: 40px;
      height: 40px;

      svg {
        margin: auto;
      }
    }

    li:first-child {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  .mobile__menu {
    width: 100%;
    font-size: 14px;
    line-height: 1.142;
    padding: 8px 24px;
    background-color: var(--white);
    z-index: 99;
    position: absolute;
    top: 56px;
    left: 0;
    text-transform: uppercase;

    li,
    a {
      display: block;
    }

    a {
      padding: 16px 0;
    }
  }
}
